body {
    font-family: Barlow, sans-serif !important;
}

.balhe-red {
    color: #FD1350 !important;
}

.balhe-blue {
    color: #263683 !important;
}

.bg-balhe-red {
    background-color: #FD1350 !important;
}

.bg-balhe-blue {
    background-color: #263683 !important;
}

.ls-minus1 {
    letter-spacing: -0.3rem !important;
}

.mx-10 {
    margin-right: 20rem!important;
    margin-left: 20rem!important;
}

.mx-15 {
    margin-right: 30rem!important;
    margin-left: 30rem!important;
}

.hero {
    height: 70vh;
}

.scroll-arrow {
    width: 71px;
    height: 31px;
    border: 7px solid #263683;
    box-sizing: border-box;
    transform: rotate(-180deg);
}

.product-label {
    position: absolute;
    bottom: 8px;
    left: 16px;
}

.product-box {
    position: relative;
}

.balhe-footer {
    height: 70vh;
    position: relative;
    margin-top: 12rem!important;
    margin-bottom: 5rem!important;
}

.insta {
    position: absolute;
    left: 0px;
    top: 90px;
}

.behance {
    position: absolute;
    left: 130px;
    bottom: 130px;
}

.email {
    position: absolute;
    left: 580px;
    bottom: 160px;
}

.facebook {
    position: absolute;
    right: 0px;
    bottom: 0px;
}

.myvip {
    position: absolute;
    right: 200px;
    top: 0px;
}