body {
    font-family: Barlow, sans-serif !important;
}

.balhe-red {
    color: #FD1350 !important;
}

.balhe-blue {
    color: #263683 !important;
}

.bg-balhe-red {
    background-color: #FD1350 !important;
}

.bg-balhe-blue {
    background-color: #263683 !important;
}

.ls-minus1 {
    letter-spacing: -0.3rem !important;
}

.mx-10 {
    margin-right: 20rem!important;
    margin-left: 20rem!important;
}

.mx-15 {
    margin-right: 30rem!important;
    margin-left: 30rem!important;
}

.mt-n1 {
    margin-top: -0.25rem !important;
}

.mt-n2 {
    margin-top: -1rem !important;
}

.hero {
    height: 70vh;
}

.product-label {
    position: absolute;
    bottom: 8px;
    left: 16px;
}

.product-box {
    position: relative;
}

.balhe-footer {
    margin-top: 12rem!important;
    margin-bottom: 3rem!important;
}

.social {
    text-align: right;
}

.scroll-arrow {
    width: 70px !important;
}

@media (max-width: 768px) {
    .scroll-arrow {
        width: 50px !important;
    }
    .mace {
        z-index: -100;
        position: absolute;
        right: 0;
    }
    .social {
        text-align: left;
    }
}